//delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #D33526;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.ball {
	width: 200px;
	height: 200px;
	transform-style: preserve-3d;
	animation: rotate 7s ease-in-out infinite;
	.piece {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		background-color: rgba(255,255,255,.3);
		&:nth-child(2) {
			transform: translate(0,-100%) rotateY(30deg);
		}
		&:nth-child(3) {
			transform: translate(0,-200%) rotateY(60deg);
		}
		&:nth-child(4) {
			transform: translate(0,-300%) rotateY(90deg);
		}
		&:nth-child(5) {
			transform: translate(0,-400%) rotateY(120deg);
		}
		&:nth-child(6) {
			transform: translate(0,-500%) rotateY(150deg);
		}
	}
}



@keyframes rotate {
	0% {
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
	25% {
		transform: rotateX(45deg) rotateY(180deg) rotateZ(20deg);
	}
	50% {
		transform: rotateX(225deg) rotateY(0deg) rotateZ(90deg);
	}
	75% {
		transform: rotateX(0deg) rotateY(45deg) rotateZ(120deg);
	}
	100% {
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
}
