// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(220,0,0,0.1);
	overflow: hidden;	
}
.background {
	width: 100%;
	height: 67%;
	background: #ACECF7;
}
.floor {
	width: 100%;
	height: 33%;
	background: #D6F6DD;
}
.ball-x {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 300px;
	right: 40px;
	animation: ball-x 3s linear infinite;
}

.ball-down {
	animation: down 3s cubic-bezier(0.38, 0, 1, 1) infinite;
}

.ball-up {
	animation: up 3s cubic-bezier(0, 0, 0.28, 1) infinite;
}
.ball {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #FFAB91;
	top: 0;
	animation: ball linear 3s;
}
.shadow {
	position: absolute;
	top: 20px;
	width: 40px;
	height: 20px;
	z-index: -1;
	border-radius: 50%;
	background: #333;
	animation: shadow 3s linear infinite;
}

@keyframes down {
	0% {
		transform: translateY(-200px);
	}
	20%, 35% {
		transform: translateY(0);
	}
	50%, 65% {
		transform: translateY(105px);
	}
	80%, 95% {
		transform: translateY(168px);
	}
	100% {
		transform: translateY(190px);
	}
}

@keyframes up {
	0%, 20% {
		transform: translateY(0);		
	}
	35%, 50% {
		transform: translateY(-105px);
	}
	65%, 80% {
		transform: translateY(-168px);
	}
	90%, 100% {
		transform: translateY(-190px);
	}
}

@keyframes ball-x {
	0% { transform: translateX(0) }
	100% { transform: translate(-480px) }
}

@keyframes ball {
	19%, 25%, 49%, 55%, 79%, 85%, 100% {
		transform: scale(1)
	}
	
	20%, 50%, 80% {
		transform: scale(1.2, 0.8)
	}
}

@keyframes shadow {
	0%, 35%, 65%, 90% {
		transform: scale(1.1);
		opacity: 0.05;
	}
	
	20%, 50%, 80% {
		transform: scale(0.5);
		opacity: 0.1;
	}
}