// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

img {
	height:280px;
	width: 200px;
  -webkit-animation: animation 3s infinite ease-in-out; 
  animation: animation 3s ease-in-out linear;
  transform-origin: 75% 50%;
}

@keyframes animation {
  0% {
		transform: translateY(-500px);
	}
	
	20% {
		transform: translateY(50px);
	}
	
	25% {
		transform: translateY(-20px);
	}
	
  30% {
		transform: translateY(0px) translateX(0px);
	}
	
	40% {
		transform: rotate(0deg);
	}
	
  45% {
		transform: rotate(8deg) translateX(5px) translateY(4px);
		transform-origin: 75% 50%;
	}
	
	50% {
		transform: rotate(3deg) translateX(2px) translateY(2px);
		transform-origin: 75% 50%;
	}
	
  55% {
		transform: rotate(6deg) translateX(4px) translateY(3px);
		transform-origin: 75% 50%;
	}
	
  60% {
		transform: rotate(0deg) translateX(0px) translateY(0px);
	}
	
  70% {
		transform: translateY(0px);
	}
	
  78% {
		transform: translateY(-20px);
	}
	
  100% {
		transform: translateY(500px);
	}
}