.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: linear-gradient(119deg,#09d9ef 0,#496bd8 90%);
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
$numberOftri : 12;
$rotation : 360deg / $numberOftri;

.tri-total {
	transform-style: preserve-3d; 
	transform-origin: 50% 50%;
	position: absolute;
	top: 8%;
	left: 13%;
	transform : rotateX(70deg) rotateY(-15deg) translate(-100px, -200px);
	&-shadow {
		transform-style: preserve-3d; 
		transform-origin: 50% 50%;
		position: absolute;
		top: 8%;
		left: 13%;
		transform : rotateX(70deg) rotateY(-15deg) translate(60px, 150px);
		.tri-top {
			transform-style: initial;	
			.tri {
				background: #5478ad;
				&:nth-of-type(2n) {
					opacity: .9;
				}
			}
		}
		.pole {
			position: absolute;
			height : 120px;
			height: 136px;
			width: 6px;
			background: #333;
			transform: rotateZ(90deg) rotateX(0deg) rotateY(90deg) translateZ(-75px) translateY(69px);
			border-radius: 6px;
			opacity: .2;
		}
	}
}
.tri-top {
	transform-origin: 50% 50%;
	width: 40px;
	height : 10px;
	transform-style: preserve-3d;
	animation: rotateTop 5s linear infinite;
	&:hover {
		transform: rotateZ(390deg);
	}
}
.tri {
	background: #fff;
	height: 80px;
	width: 40px;
	position: absolute;
	transform-origin: 50% 0;
	-webkit-clip-path: 	polygon(50% 0%, 100% 100%, 0 100%);
	&:nth-of-type(2n) {
		background: #F06292;
		opacity: .8;
	}
	
	@for $i from 1 through $numberOftri {
		&.tri-#{$i} {
			transform: rotateZ($rotation * $i) rotateX(-24deg);
		}
	}
}
.pole {
	position: absolute;
	height : 120px;
	width : 6px;
  background:#F5F5F5 ;
	transform: rotateZ(180deg) 		 rotateX(270deg) rotateY(190deg) translateZ(-60px) translateY(55%);
	transform-style: preserve-3d;  
	transform-origin: 0 50%;
	left: 23px;
}

@keyframes rotateTop{
	0% {
			transform: rotateZ(0deg);
	}
	100% {
			transform: rotateZ(360deg);
	}
}