$body:#fff;
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #abcdef;
  
}

.puppet {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%,0);
    cursor: pointer;
    
    .head {
        position: relative;
        width: 40px;
        height: 40px;
        margin: 0 auto 10px auto;
        background: $body;
        border-radius: 50%;
    }

    .body {
        position: relative; 
        height: 100px;
        width: 50px;
        background: $body;

        .arm {
            position: absolute;
            top: 0;

            &-left {
                left: -10px;

                .upper {
                    transform: rotate(10deg);

                    .lower {
                        transform: rotate(-5deg);   
                    }

                }

            }

            &-right {
                right: -10px;

                .upper {
                    transform: rotate(-75deg);
                    animation: upper 1s ease-in-out infinite alternate;

                    .lower {
                        transform: rotate(-75deg);
                        animation: lower 1s ease-in-out infinite alternate;
                    }

                }

            }

            .upper {
                position: relative;
                height: 50px;
                width: 16px;
                background: $body;
                border-radius: 8px;
                transform-origin: 8px 8px;

                .lower {
                    position: absolute;
                    height: 52px;
                    width: 16px;
                    bottom: -36px;
                    left: 0;
                    background: $body;
                    border-radius: 8px;
                    transform-origin: 8px 8px;  
                }

            }

        }

        .leg {
            position: absolute;
            top: 78px;

            &-left {
                left: 0px;
            }

            &-right {
                right: 0px;
            }

            .upper {
                position: relative;
                height: 70px;
                width: 24px;
                background: $body;
                border-radius: 12px;
                transform-origin: 12px 12px;

                .lower {
                    position: absolute;
                    height: 70px;
                    width: 24px;
                    bottom: -46px;
                    left: 0;
                    background: $body;
                    border-radius: 12px;
                    transform-origin: 12px 12px;    
                }

            }

        }


    }

}

@keyframes upper {
    0% {
        transform: rotate(-75deg);
    }
    100% {
        transform: rotate(-85deg);
    }
}

@keyframes lower {
    0% {
        transform: rotate(-75deg);
    }
    100% {
        transform: rotate(-105deg);
    }
}


